@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center text-md-center" style="margin-top:20%">
    <button type="button" class="btn btn-lg btn-primary" style="margin-right:15%; background:#59b723; transform:scale(2 , 2)" disabled>Create Lobby</button>
    <button type="button" class="btn btn-secondary btn-lg" style="margin-right:5%; transform:scale(2 ,2)" disabled>Join Lobby</button>
</div>
