@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="text-center text-md-center" style="margin-top:20%">
        <form asp-controller="Home" asp-action="CreateRoom" method="post">
            <button type="submit" class=" btn-lg btn-primary" style="margin-right:15%; background:#59b723; transform:scale(2 , 2);border:none">Create Lobby</button>
            <button type="button" onclick="apii()" class=" btn-secondary btn-lg" style="margin-right:5%; transform:scale(2 ,2);border:none">Join Lobby</button>
        </form>
    </div>
    
<div style="margin-top:10%">

    <div class="text-center d-inline-block" style="border-radius:15px;background:rgba(0, 0, 0, 0.5); width:15%; height:150px;">
        <p class="text-white" style="margin-top:6%">IDS</p>
        <p class="text-white">Name</p>
        <button class="text-white" style="border-radius:5px; background:gray; border:none; width:50%">Join</button>
    </div>

</div>

</div>

<ul id="dblist"></ul>




<script>

    function apii() {
        var ul = document.getElementById("dblist");
        ul.innerHTML =''
        fetch("api/all", {
            method: "Get"
        }).then(x => x.json())
            .then(x => {
                for (var i = 0; i < x.length; i++) {
                    var li = document.createElement("li");
                    li.textContent = x[i].userName;
                    li.style = "color:white";
                    ul.appendChild(li);
                }
            
            })
    }
</script>